/* The whole body of the popup frame */
.wowitem, .wowitemt, .wowitemname
{
	background-color: #000000;
	text-align: left;
	width: 305px;
	border: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	position: relative;
    line-height:normal;
}

div#overlib_light
{
  position:absolute; visibility:hidden; left:0; top:0; z-index:10000;
  color:#000; font-size:11px; line-height:1.2;
}

.wowitem
{
padding: 2px;
}

.borderless tbody {border-top: 0px none #F00; border-width: 0;}

.textitemstats
{    
	border: 1px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:7pt;
    color:#8C8C8C;
    margin-top:0;
    margin-bottom:0;
    text-align:right;
    text-decoration:underline;
    font-weight:lighter;
}


/* Default link colors for the whole frame */
.wowitem a:link, .wowitem a:visited, .wowitem a:active { color: #FFB019; text-decoration: none; font-weight: normal }
.wowitemt a:link, .wowitemt a:visited, .wowitemt a:active { color: #FFB019; text-decoration: none; font-weight: normal }
.wowitemt a:hover, .wowitem a:hover { color: #FFB019; text-decoration: none; font-weight: normal }

.wowitemt td, .wowitem th, .wowitem
{
    font-family:Helvetica, Arial, sans-serif;
    font-size:9pt;
    color:#FAFAFA;
}
.wowrttxt {
    display: compact;
    position: absolute;
    text-align: right;
    right: 3px;
    top: inherit;
    color: #FFFFFF;
}

/* Item icon stuff */
.itemicon { width: 40px; height: 40px; }
.smallitemicon { width: 15px; height: 15px; }

/* Item colors */
.redname,    .redname    a:link, .redname    a:visited, .redname    a:active, .quality6 { color: #FF0000; font-weight: bold; }
.orangename, .orangename a:link, .orangename a:visited, .orangename a:active, .quality5 { color: #FF8000; font-weight: bold; }
.purplename, .purplename a:link, .purplename a:visited, .purplename a:active, .quality4 { color: #A335EE; font-weight: bold; }
.bluename,   .bluename   a:link, .bluename   a:visited, .bluename   a:active, .quality3 { color: #0070DD; font-weight: bold; }
.greenname,  .greenname  a:link, .greenname  a:visited, .greenname  a:active, .quality2 { color: #1EFF00; font-weight: bold; }
.whitename,  .whitename  a:link, .whitename  a:visited, .whitename  a:active, .quality1 { color: #FFFFFF; font-weight: bold; }
.greyname,   .greyname   a:link, .greyname   a:visited, .greyname   a:active, .quality0 { color: #9D9D9D; font-weight: bold; }
.errorname,  .errorname  a:link, .errorname  a:visited, .errorname  a:active { color: #FFFFFF; }

/* Item link (Name of items on ViewItem page) */
a:link.itemlink, a:visited.itemlink, a:active.itemlink { text-decoration: none; }
a:hover.itemlink { text-decoration: none; }

/* Forum link */
a:link.forumitemlink, a:visited.forumitemlink, a:active.forumitemlink { text-decoration: none; font-weight: normal }
a:hover.forumitemlink { text-decoration: none; font-weight: normal }

/* Armor set info link */
.setbonus { color: #1EFF00; font-weight: normal; }
a:link.setbonus, a:visited.setbonus, a:active.setbonus { text-decoration: none; font-weight: normal; color: #1EFF00; }
a:hover.setbonus { text-decoration: underline; font-weight: normal; color: #1EFF00; }
a:link.set, a:visited.set, a:active.set { text-decoration: none; font-weight: normal; color: #FFA500; }
a:hover.set { text-decoration: underline; font-weight: normal; color: #FFA500; }

/* Item effects */
.itemeffectlink { color: #FFFFFF; font-weight: normal; }
a:link.itemeffectlink, a:visited.itemeffectlink, a:active.itemeffectlink { text-decoration: none; font-weight: normal; color: #1EFF00; }
a:hover.itemeffectlink { text-decoration: underline; font-weight: normal; color: #1EFF00; }

/* Refresh link */
a:link.itemrefresh, a:visited.itemrefresh, a:active.itemrefresh { text-decoration: none; font-weight: normal; font-size: x-small }
a:hover.itemrefresh { text-decoration: none; font-weight: normal; font-size: x-small }

/* Item Create link, used for certain recipes */
.itemeffectlink { color: #1EFF00; font-weight: normal; }
a:link.itemcreatelink, a:visited.itemcreatelink, a:active.itemcreatelink { text-decoration: none; font-weight: normal; color: #1EFF00; }
a:hover.itemcreatelink { text-decoration: underline; font-weight: normal; color: #1EFF00; }

/* Item Description Text */
.itemdesc { color: #FFD200; }
.goldtext {	color: #FFA500; }

/* Allakhazam credits stuff */
.akznotice a:link, .akznotice a:visited, .akznotice a:active { text-decoration: underline; font-weight: normal; color: #FFFFFF; }
.akznotice a:hover { text-decoration: underline; font-weight: normal }
.akznotice {  display: none;  color: #FFFFFF; font-size: smaller; text-align: center; background-color: #0B0B0B; }